#frame {
    width: 500px;
    height: 500px;
    border-width: 1px;
}

circle {
    fill: skyblue;
}

line {
    stroke-width: 50px;
    stroke: darkblue;
}

.red {
    stroke: red
}

.orange {
    fill: orange
}